#root{
    text-align: center;
}
/* Tooltip container */
.tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    width: auto;
    text-align: center;
    margin: 20px auto;
}

/* Tooltip text */
.tooltips .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* right */
.tooltiptext.right-position {
    top: -5px;
    left: 105%;
}
/* left */
.tooltiptext.left-position {
    top: -5px;
    right: 105%;
}

/* top */
.tooltiptext.top-position {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
/* bottom */
.tooltiptext.bottom-position {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltiptext.bottom-position::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltiptext.top-position::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltiptext.left-position::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltiptext.right-position::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
